				.headerr 
                                {
                                color: yellow;
                                font-weight: bold;
                                text-align: center;
                                font-size: 6em;
                                background-color: #392798;
                                }
                .celule 
                                {
                                background-color: purple;
                                color: white;
                                font-size: 2em;
                                }
                #mytable
                                { 
                                padding: 93px;
                                text-align: center;
                                border: 2.5px solid #329783;
                                }
                #mytable td
                                {
                                text-align: center;
                                padding: 15px;
                                border: 3px solid #858584;
                                }
                #uptable
                                {
                                text-align: center;
                                background-color: #208734;
                                color: yellow;
                                font-size: 2em;
                                font-weight: bold;
                                }